1) where the hotspots are currently and what areas to focus on next on a map.

2) How would you calculate the fatality rate and what issues do you see with presenting those figures based on this dataset?

3) Please cite any additional sources you used for research and reference any existing dashboards you used for inspiration

In [12]:
import pandas as pd
import numpy as np
from datetime import date, datetime, timedelta

# load data 

rename some columns name, drop some un-necessary columns in order to merge the tables later

In [71]:
src_path = {'wc':'time_series_covid19_confirmed_global.csv',\
            'wd':'time_series_covid19_deaths_global.csv',\
            'uc':'time_series_covid19_confirmed_US.csv',\
            'ud':'time_series_covid19_deaths_US.csv',\
            'geo':'UID_ISO_FIPS_LookUp_Table.csv'}

target_path = {'summary':'time_series_covid19.csv'}

In [72]:
# Read global data
wc = pd.read_csv("csse_covid_19_time_series/"+src_path['wc'])
wd = pd.read_csv("csse_covid_19_time_series/"+src_path['wd'])

# Geographical information will be merged
wc.drop(['Lat','Long'],axis=1,inplace=True)
wd.drop(['Lat','Long'],axis=1,inplace=True)

# Read US data
uc = pd.read_csv("csse_covid_19_time_series/"+src_path['uc'])
ud = pd.read_csv("csse_covid_19_time_series/"+src_path['ud'])

# rename some columns name so that all the tables have the same names 
uc.rename(columns={'Province_State':'Province/State','Country_Region':'Country/Region','Long_':'Long'},inplace=True)
ud.rename(columns={'Province_State':'Province/State','Country_Region':'Country/Region','Long_':'Long'},inplace=True)

# County-level data to be purged
uc.drop(['UID','iso2','code3','Admin2','FIPS','Combined_Key'],axis=1,inplace=True)
ud.drop(['UID','iso2','code3','Admin2','FIPS','Combined_Key'],axis=1,inplace=True)

# Append Population column to infections data
uc = pd.concat([uc.iloc[:,:5],ud['Population'],uc.iloc[:,5:]],axis=1)

# Read geographical information
geo = pd.read_csv(src_path['geo'])
geo.rename(columns={'Province_State':'Province/State','Country_Region':'Country/Region','Long_':'Long'},inplace=True)
geo.drop(['UID','iso2','code3','Admin2','FIPS','Combined_Key'],axis=1,inplace=True)

# clean data

In [54]:
# order the columns of each table into same order 
def reorder_columns(cols):
    # iso
    # Province/State
    # Country/Region
    # Lat
    # Long
    # Population
    lst = cols
    bases_idx = [cols.get_loc('iso3'),cols.get_loc('Province/State'),cols.get_loc('Country/Region'),cols.get_loc('Lat'),cols.get_loc('Long'),cols.get_loc('Population')]
    bases = cols[bases_idx]

    return list(bases) + list(lst.drop(bases))

In [55]:
cutoff=815  # cutoff = number of days frmo 4/7/22 

# Get least recent date (reporting time gaps)
min_latest = datetime.strptime(min(wc.columns[-1],wd.columns[-1],uc.columns[-1],ud.columns[-1]),'%m/%d/%y')
max_first = datetime.strptime(max(wc.columns[2],wd.columns[2],uc.columns[6],ud.columns[6]),'%m/%d/%y')
min_date = max(min_latest-timedelta(days=cutoff),max_first)

start_date = min_date.strftime('%-m/%-d/%y')
end_date = min_latest.strftime('%-m/%-d/%y')

In [56]:
print(start_date)
print(end_date)

1/22/20
4/7/22

In [57]:
col_list = {'wc':list(wc.columns[:2]) \
            +list(wc.columns[wc.columns.get_loc(start_date):wc.columns.get_loc(end_date)+1]),
            'wd':list(wd.columns[:2])\
            +list(wd.columns[wd.columns.get_loc(start_date):wc.columns.get_loc(end_date)+1]),\
            'uc':list(uc.columns[:6])\
            +list(uc.columns[uc.columns.get_loc(start_date):uc.columns.get_loc(end_date)+1]),\
            'ud':list(ud.columns[:6])\
            +list(ud.columns[ud.columns.get_loc(start_date):ud.columns.get_loc(end_date)+1])
}

In [58]:
wc = wc[col_list['wc']].merge(geo,on=['Country/Region','Province/State'])

In [59]:
wc[((wc['Lat']==0) & (wc['Long']==0) & (wc['Province/State'] != 'Unknown')) \
           | (wc['iso3'].isin(['USA'])) | (wc['iso3'].isnull())]

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,iso3,Lat,Long,Population
105,NaN,Diamond Princess,0,0,0,0,0,0,0,0,...,712,712,712,712,712,712,NaN,NaN,NaN,NaN
173,NaN,MS Zaandam,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,NaN,NaN,NaN,NaN
240,NaN,Summer Olympics 2020,0,0,0,0,0,0,0,0,...,865,865,865,865,865,865,NaN,35.6491,139.7737,NaN
255,NaN,US,1,1,2,2,5,5,5,6,...,80150811,80155397,80179289,80208810,80248986,80289237,USA,40.0000,-100.0000,329466283.0
279,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,NaN,39.9042,116.4074,NaN

In [60]:
# drop rows above and reorder the columns 
wc.drop(wc[((wc['Lat']==0) & (wc['Long']==0) & (wc['Province/State'] != 'Unknown')) \
           | (wc['iso3'].isin(['USA'])) | (wc['iso3'].isnull())].index,inplace=True)
wc = wc[reorder_columns(wc.columns)]

In [62]:
wd = wd[col_list['wd']].merge(geo,on=['Country/Region','Province/State'])

In [63]:
wd[((wd['Lat']==0) & (wd['Long']==0) & (wd['Province/State'] != 'Unknown')) \
           | (wd['iso3'].isin(['USA'])) | (wd['iso3'].isnull())]

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,iso3,Lat,Long,Population
105,NaN,Diamond Princess,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,NaN,NaN,NaN,NaN
173,NaN,MS Zaandam,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,NaN,NaN,NaN,NaN
240,NaN,Summer Olympics 2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,35.6491,139.7737,NaN
255,NaN,US,0,0,0,0,0,0,0,0,...,981612,981644,982099,982576,983817,984571,USA,40.0000,-100.0000,329466283.0
279,NaN,Winter Olympics 2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,39.9042,116.4074,NaN

In [64]:
# drop the rows above 
wd.drop(wd[((wd['Lat']==0) & (wd['Long']==0) & (wd['Province/State'] != 'Unknown')) \
           | (wd['iso3'].isin(['USA'])) | (wd['iso3'].isnull())].index,inplace=True)
wd = wd[reorder_columns(wd.columns)]

In [65]:
uc = uc.loc[((uc['Lat']!=0) | (uc['Long']!=0)) & ((uc['iso3'].notnull())),col_list['uc']]

# groupby the values by each state and generate 2 tables: one for sum, and the other for mean values 
us_geo = uc.groupby(['iso3','Country/Region','Province/State'])[['Lat','Long']].mean()
uc_core = uc.groupby(['iso3','Country/Region','Province/State']).sum().drop(['Lat','Long'],axis=1)

# merge the mean and sum tables 
uc = pd.merge(uc_core,us_geo,on=['iso3','Country/Region','Province/State']).reset_index()

# reorder the columns 
uc = uc[reorder_columns(uc.columns)]

In [76]:
ud = ud.loc[((ud['Lat']!=0) | (ud['Long']!=0)) & ((ud['iso3'].notnull())),col_list['ud']]

# groupby the values by each state and generate 2 tables: one for sum, and the other for mean values 
ud_core = ud.groupby(['iso3','Country/Region','Province/State']).sum().drop(['Lat','Long'],axis=1)

# merge the mean and sum tables 
ud = pd.merge(ud_core,us_geo,on=['iso3','Country/Region','Province/State']).reset_index()

# reorder the columns 
ud = ud[reorder_columns(ud.columns)]

## group both global and us data by type (confirmed or deaths)

In [ ]:
# Confirmed and Deaths
data = pd.concat([wc,uc])

# # Population manipulation (No country-level statistics for multi-states)
# base_pop = 1e5
# data['num_states'] = data.groupby(['iso3','Country/Region']).iso3.transform('size')
# data.loc[(data['Province/State'].isnull()) & (data['num_states']>1),'Population'] = 0
# data.drop('num_states',axis=1,inplace=True)

# # Wide to long form transformation
# data = data.melt(id_vars=['iso3','Province/State','Country/Region','Lat','Long','Population'])
# data.rename(columns={'variable':'Date','value':type},inplace=True)
# # data['Date'] = pd.to_datetime(data['Date'],format='%m/%d/%y')
# data[type].fillna(0,inplace=True)
# data['Province/State'].replace(np.nan,'NA',inplace=True)

# # Reorder columns
# data = data[[data.columns[-2]]+list(data.columns[:-2])+[data.columns[-1]]]

# # per 100K (r_: Rate)
# data['r_'+type] = data[type]/data['Population']*base_pop

# # Daily changes (i_: Daily Raw, ri_: Daily Rate)
# data['i_'+type] = data[type]-data.groupby(['iso3','Province/State','Country/Region'])[type].shift(1)
# data['i_'+type].fillna(data[type],inplace=True)
# # print(data[['Date','Country/Region','Province/State',type,'i_'+type]])
# # print(data)
# data['ri_'+type] = data['i_'+type]/data['Population']*base_pop
# # data['ri'+type].fillna(data['r'+type],inplace=True)

# # Country-level grouping
# data['Tot_'+type] = data.groupby(['Date','iso3','Country/Region'])[type].transform('sum')

# data['iTot_'+type] = data.groupby(['Date','iso3','Country/Region'])['i_'+type].transform('sum')
# data['rTot_'+type] = data['Tot_'+type]/data.groupby(['Date','iso3','Country/Region'])['Population'].transform('sum')*base_pop
# data['riTot_'+type] = data['iTot_'+type]/data.groupby(['Date','iso3','Country/Region'])['Population'].transform('sum')*base_pop

# # print(data[['Date','Country/Region','Province/State',type,'i_'+type]])

# data.drop(data[data['Date']==data['Date'][0]].index,inplace=True)
# data = data.round(4)
# data.reset_index(drop=True,inplace=True)
# #     print(data[['Date','Country/Region','Province/State',type,'i_'+type]])

# #     print(data)

In [ ]:
# Clean and group datasets
wc, wd, uc, ud = clean_data(wc, wd, uc, ud, geo)
confirmed = group_by_type(wc,uc,'Confirmed')
deaths = group_by_type(wd,ud,'Deaths')

covid = confirmed.merge(deaths,on=['Date','iso3','Province/State','Country/Region','Lat','Long','Population'])

In [ ]:
def clean_data(wc, wd, uc, ud, geo, 
    
    

#     ud.shape()
    return wc, wd, uc, ud

In [14]:
def read_appendfile():
    # Read current file
    file_list = target_path['summary']

#     read_columns = ['Date','iso3','Province/State','Country/Region','Lat','Long',\
#                     'Population','Confirmed','r_Confirmed','i_Confirmed','ri_Confirmed',\
#                     'Tot_Confirmed','iTot_Confirmed','rTot_Confirmed','riTot_Confirmed',\
#                     'Deaths','r_Deaths','i_Deaths','ri_Deaths','Tot_Deaths','iTot_Deaths',\
#                     'rTot_Deaths','riTot_Deaths']

#     try:
#         print("Reading previous summary data with the filename: "+file_list)
#         last = pd.read_csv("data/"+target_path['summary'])
#         new = last.copy()
#         if len(read_columns) == len(last.columns):
#             status = 'Replace'
#         else:
#             status = "New"

#     except FileNotFoundError:
#         print('Current summary file not found\nNo backup file(s) will be created')
#         status = "New"


    ds = read_source()
    start_date = get_startdate(ds)
    new = ds

    # else:
    #     # ds = read_source(start_date)
    #     new.drop(new.loc[new['Date']>=start_date,:].index,inplace=True)

    write_date = datetime.strptime(ds.iloc[-1]['Date'],'%m/%d/%y').strftime('%m-%d-%Y')

    # Write to files
#     print("Updating summary data: {}".format(status))
    write_file(new,'new',write_date)
    print("Summary data successfully updated")
    
#     if status == 'Replace':
#         write_file(last,'last',write_date)
#         write_file(new,'new',write_date)
#         write_file(new,'remote',write_date)
#     else:
#         write_file(new,'new',write_date)
#         write_file(new,'remote',write_date)

In [16]:
def read_source(start_date=None):
    
    
    # print(covid)

    return covid

In [17]:
def get_startdate(data,gaps=5):
    # Get last date in the csv file 
    start_dt = datetime.strptime(max(data['Date']),'%m/%d/%y').date()
    end_dt = date.today()
    
    print(start_dt)
    print(end_dt)

    if start_dt < end_dt-timedelta(days=1):
        start_dt -= timedelta(days=gaps)
    
    # %- option only works for Unix-based systems
    return start_dt.strftime('%-m/%-d/%y')

In [19]:
def group_by_type(data_1, data_2, type):
    # Confirmed and Deaths
    data = pd.concat([data_1,data_2])

    # Population manipulation (No country-level statistics for multi-states)
    base_pop = 1e5
    data['num_states'] = data.groupby(['iso3','Country/Region']).iso3.transform('size')
    data.loc[(data['Province/State'].isnull()) & (data['num_states']>1),'Population'] = 0
    data.drop('num_states',axis=1,inplace=True)

    # Wide to long form transformation
    data = data.melt(id_vars=['iso3','Province/State','Country/Region','Lat','Long','Population'])
    data.rename(columns={'variable':'Date','value':type},inplace=True)
    # data['Date'] = pd.to_datetime(data['Date'],format='%m/%d/%y')
    data[type].fillna(0,inplace=True)
    data['Province/State'].replace(np.nan,'NA',inplace=True)
    
    # Reorder columns
    data = data[[data.columns[-2]]+list(data.columns[:-2])+[data.columns[-1]]]

    # per 100K (r_: Rate)
    data['r_'+type] = data[type]/data['Population']*base_pop

    # Daily changes (i_: Daily Raw, ri_: Daily Rate)
    data['i_'+type] = data[type]-data.groupby(['iso3','Province/State','Country/Region'])[type].shift(1)
    data['i_'+type].fillna(data[type],inplace=True)
    # print(data[['Date','Country/Region','Province/State',type,'i_'+type]])
    # print(data)
    data['ri_'+type] = data['i_'+type]/data['Population']*base_pop
    # data['ri'+type].fillna(data['r'+type],inplace=True)

    # Country-level grouping
    data['Tot_'+type] = data.groupby(['Date','iso3','Country/Region'])[type].transform('sum')

    data['iTot_'+type] = data.groupby(['Date','iso3','Country/Region'])['i_'+type].transform('sum')
    data['rTot_'+type] = data['Tot_'+type]/data.groupby(['Date','iso3','Country/Region'])['Population'].transform('sum')*base_pop
    data['riTot_'+type] = data['iTot_'+type]/data.groupby(['Date','iso3','Country/Region'])['Population'].transform('sum')*base_pop

    # print(data[['Date','Country/Region','Province/State',type,'i_'+type]])

    data.drop(data[data['Date']==data['Date'][0]].index,inplace=True)
    data = data.round(4)
    data.reset_index(drop=True,inplace=True)
#     print(data[['Date','Country/Region','Province/State',type,'i_'+type]])

#     print(data)

    return data

In [20]:
def write_file(data,type,date,target_path=target_path):
    filename = 'csse_covid_19_time_series/'+target_path['summary']
    print('{}: {}'.format(type,filename))
    data.to_csv(filename,index=False)

In [21]:
# def read_appendfile():
#     # Read current file
#     file_list = target_path['summary']

#     read_columns = ['Date','iso3','Province/State','Country/Region','Lat','Long',\
#                     'Population','Confirmed','r_Confirmed','i_Confirmed','ri_Confirmed',\
#                     'Tot_Confirmed','iTot_Confirmed','rTot_Confirmed','riTot_Confirmed',\
#                     'Deaths','r_Deaths','i_Deaths','ri_Deaths','Tot_Deaths','iTot_Deaths',\
#                     'rTot_Deaths','riTot_Deaths']

#     try:
#         print("Reading previous summary data with the filename: "+file_list)
#         last = pd.read_csv("data/"+target_path['summary'])
#         new = last.copy()
#         if len(read_columns) == len(last.columns):
#             status = 'Replace'
#         else:
#             status = "New"

#     except FileNotFoundError:
#         print('Current summary file not found\nNo backup file(s) will be created')
#         status = "New"


#     ds = read_source()
#     start_date = get_startdate(ds)
#     new = ds

#     # else:
#     #     # ds = read_source(start_date)
#     #     new.drop(new.loc[new['Date']>=start_date,:].index,inplace=True)

#     write_date = datetime.strptime(ds.iloc[-1]['Date'],'%m/%d/%y').strftime('%m-%d-%Y')

#     # Write to files
#     print("Updating summary data: {}".format(status))
#     if status == 'Replace':
#         write_file(last,'last',write_date)
#         write_file(new,'new',write_date)
#         write_file(new,'remote',write_date)
#     else:
#         write_file(new,'new',write_date)
#         write_file(new,'remote',write_date)
#     print("Summary data successfully updated")

In [22]:
read_appendfile()

2021-09-09
2022-04-14
new: csse_covid_19_time_series/time_series_covid19.csv
Summary data successfully updated

In [23]:
covid = pd.read_csv('csse_covid_19_time_series/time_series_covid19.csv')

In [24]:
covid.head()

,Date,iso3,Province/State,Country/Region,Lat,Long,Population,Confirmed,r_Confirmed,i_Confirmed,...,rTot_Confirmed,riTot_Confirmed,Deaths,r_Deaths,i_Deaths,ri_Deaths,Tot_Deaths,iTot_Deaths,rTot_Deaths,riTot_Deaths
0,1/23/20,AFG,NaN,Afghanistan,33.9391,67.7100,38928341.0,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
1,1/23/20,ALB,NaN,Albania,41.1533,20.1683,2877800.0,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
2,1/23/20,DZA,NaN,Algeria,28.0339,1.6596,43851043.0,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,1/23/20,AND,NaN,Andorra,42.5063,1.5218,77265.0,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,1/23/20,AGO,NaN,Angola,-11.2027,17.8739,32866268.0,0,0.0,0.0,...,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [ ]:
covid['Date'].unique()

In [ ]:
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [ ]:
country_df.head()

In [ ]:
# sorted_states_df = covid[covid['adm0_a3']=='USA'].groupby(''.sort_values('Confirmed', ascending= False)

In [ ]:
us_confirmed_df = pd.read_csv('csse_covid_19_time_series/time_series_covid19_confirmed_us.csv')
us_deaths_df = pd.read_csv('csse_covid_19_time_series/time_series_covid19_deaths_us.csv')

In [ ]:
confirmed_per_state = us_confirmed_df.groupby(['Province_State']).sum().drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis=1).reset_index().sort_values(by='4/7/22', ascending=False)

In [ ]:
confirmed_per_state.columns[-1]

In [ ]:
deaths_per_state = us_deaths_df.groupby(['Province_State']).sum().drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis=1).reset_index().sort_values(by='4/7/22', ascending=False)

In [ ]:
deaths_per_state['rate'] = ((deaths_per_state['4/7/22']/deaths_per_state['Population'])*100).round(2)

In [ ]:
deaths_per_state.sort_values(by = 'rate', ascending=False).iloc[1:,:].head()

In [ ]:
deaths_per_state.sort_values(by = '4/7/22', ascending=False).iloc[:,:].head()

In [ ]:
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')
sorted_country_df = country_df[country_df['Confirmed'] > 0].sort_values('Confirmed', ascending= True)
sorted_country_df.head()

In [ ]:
confirmed_per_state['Confirmed'] = confirmed_per_state['4/7/22']
confirmed_per_state.sort_values('Confirmed', ascending= False)
confirmed_per_state.head()

In [ ]:
deaths_per_state = us_deaths_df.groupby(['Province_State']).sum().drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis=1).reset_index().sort_values(by='4/7/22', ascending=False)
deaths_per_state['Deaths'] = deaths_per_state['4/7/22']
deaths_per_state.sort_values('Deaths', ascending= False).head()

In [ ]:
deaths_per_state['Fatality_rate'] = (deaths_per_state['4/7/22']/deaths_per_state['Population'])*100
deaths_per_state = deaths_per_state.sort_values('Fatality_rate', ascending= False).iloc[1:]
deaths_per_state.sort_values('Fatality_rate', ascending= False).head()

In [ ]:
us_confirmed_df = pd.read_csv('csse_covid_19_time_series/time_series_covid19_confirmed_us.csv')
us_deaths_df = pd.read_csv('csse_covid_19_time_series/time_series_covid19_deaths_us.csv')


confirmed_per_state = us_confirmed_df.groupby(['Province_State']).sum().drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis=1).reset_index().sort_values(by='4/7/22', ascending=False)
confirmed_per_state['Confirmed'] = confirmed_per_state['4/7/22']

deaths_per_state = us_deaths_df.groupby(['Province_State']).sum().drop(['UID', 'code3', 'FIPS', 'Lat', 'Long_'], axis=1).reset_index().sort_values(by='4/7/22', ascending=False)
deaths_per_state = deaths_per_state[deaths_per_state['Population']>0]
deaths_per_state['Deaths'] = deaths_per_state['4/7/22']
deaths_per_state['Fatality_rate'] = (deaths_per_state['4/7/22']/deaths_per_state['Population'])*100

df = pd.merge(confirmed_per_state[{'Province_State', 'Confirmed'}],\
         deaths_per_state[{'Province_State', 'Deaths', 'Fatality_rate'}], on='Province_State')

In [ ]:
df.sort_values('Fatality_rate', ascending= False)

In [ ]:
deaths_per_state.shape

In [ ]:
df.shape